@font-face {
 font-family: 'Panton';
 src: url('../Fonts/Panton-Light.woff2') format('woff2'),
  url('../Fonts/Panton-Light.woff') format('woff');
 font-weight: 300;
 font-style: normal;
}

@font-face {
 font-family: 'Panton';
 src: url('../Fonts/Panton-Regular.woff2') format('woff2'),
  url('../Fonts/Panton-Regular.woff') format('woff');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'Panton';
 src: url('../Fonts/Panton-Bold.woff2') format('woff2'),
  url('../Fonts/Panton-Bold.woff') format('woff');
 font-weight: bold;
 font-style: normal;
}

@font-face {
 font-family: 'Panton';
 src: url('../Fonts/Panton-SemiBold.woff2') format('woff2'),
  url('../Fonts/Panton-SemiBold.woff') format('woff');
 font-weight: 600;
 font-style: normal;
}

@font-face {
 font-family: 'Panton';
 src: url('../Fonts/Panton-Black.woff2') format('woff2'),
  url('../Fonts/Panton-Black.woff') format('woff');
 font-weight: 900;
 font-style: normal;
}

@font-face {
 font-family: 'Panton';
 src: url('../Fonts/Panton-ExtraBold.woff2') format('woff2'),
  url('../Fonts/Panton-ExtraBold.woff') format('woff');
 font-weight: 800;
 font-style: normal;
}