$green: #ADF833;
$green-hover: #A2FF0C;

$brand-primary: #490664;
$brand-primary-darkest: #170120;
$brand-primary-dark: #260633;

$text-medium:#BA99CA;
$text-light: #DDCCE6;
$text-inverse:#372C36;


$font: 'Panton',
sans-serif;